# Kenton's personal backup script.
/backup.sh

# Eclipse-generated stuff.
.cproject
.project
.pydevproject
.settings
.dist-buildwrapper
/cpp/gen/

# Code you may want to map in from elsewhere.
/cpp/src/base
/cpp/src/capnp/compilerbin
/cpp/src/ekam
/cpp/src/os
/cpp/src/protobuf
/cpp/src/snappy
/cpp/src/samples

# Ekam build artifacts.
/cpp/tmp/
/cpp/bin/
/cpp/deps/

# setup-ekam.sh
/cpp/.ekam

# super-test.sh
/tmp-staging

# Jekyll-generated site
/doc/_site

# Checkout of gh-pages made by /doc/push-site.sh
/doc/.gh-pages

# cabal-install artifacts
/compiler/dist/

# Make artefacts
/cpp/.libs/
/cpp/Makefile
/cpp/Makefile.in
/cpp/**/*.o
/cpp/**/*.lo
/cpp/**/.deps/
/cpp/**/.dirstamp
/cpp/stamp-h1
/cpp/**/*.log
/cpp/test_capnpc_middleman
/cpp/**/test*.capnp.*
/cpp/*.la
/cpp/**/*.trs
/cpp/aclocal.m4
/cpp/autom4te.cache/
/cpp/build-aux/
/cpp/capnp
/cpp/capnp-evolution-test
/cpp/cmake/CapnProtoConfig.cmake
/cpp/cmake/CapnProtoConfigVersion.cmake
/cpp/pkgconfig/*.pc
/cpp/capnp-test
/cpp/capnpc-c++
/cpp/capnpc-capnp
/cpp/config.*
/cpp/configure
/cpp/libtool
/cpp/m4/libtool.m4
/cpp/m4/ltoptions.m4
/cpp/m4/ltsugar.m4
/cpp/m4/ltversion.m4
/cpp/m4/lt~obsolete.m4
/cpp/samples/addressbook
/cpp/.cache/

# editor artefacts
*~

# cross-compiling / glibc testing
/dockcross

# bazel output
bazel-*
/cpp/MODULE.bazel.lock
